@model stock_market_data.Models.TradeData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TradeData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.High)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.High)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Low)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Low)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Open)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Open)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Close)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Close)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
